body {
  font-family: 'Garamond', serif;
  background-color: aquamarine;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Garamond', serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

#link {
  font-size: 22px;
}
